.graph-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 구성 */
  grid-auto-rows: 1fr; /* 행 높이 균등 분배 */
  gap: 20px; /* 그래프 간격 */
  padding: 10px; /* 전체 여백 */
  box-sizing: border-box; /* 패딩 포함 계산 */
  justify-content: center;
}

.plot-wrapper {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4 / 3; /* 고정 비율 설정 (4:3 비율) */
  max-width: 100%; /* 최대 폭 제한 */
}

.plot-container {
  width: 500px;
  height: 300px;
}

/* 반응형 디자인: 화면 너비가 768px 이하일 때 */
@media (max-width: 768px) {
  .graph-container {
    grid-template-columns: 1fr; /* 1열로 변경 */
    width:500px;
    
  }

  .plot-wrapper {
    width: 500px; 
    margin-right:400px;
  }

  .plot-container {
    width: 500px; /* 그래프가 부모 컨테이너에 맞게 크기 조정 */
    height:300px; /* 높이는 비율에 따라 자동 조정 */
 
  }
}



 
